
<div class="col-5">
    <legend>Create a Virtual WhiteBoard</legend>
    <form action="/rooms" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
        <div class="form-group">
            <label for="room[title]">Title</label>
            <input type="text" class="form-control" name="room[title]" id="room[title]" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Create a VWB</button>
    </form>
</div>
