<a name="" id="logout" class="btn btn-secondary float-right" data-method="DELETE" href="/users/sign_out" role="button">Logout</a>


<textarea name="codeEditor" id="codeEditor" id="" cols="30" rows="10"></textarea>


<%= current_user.email %>